{% extends 'layout.html' %}
{% block content %}
<h2>Các bài viết trong tag: <span style="color: lightgreen;">{{ tag | upper }}</span></h2>
<br>

{% for post in posts %}
  <p>
  <div class="home-summ">
    <small class="home-meta">{{ post.date }}</small>
    <br>
    <small class="home-meta right">tags: 
      {% for tag in  post.tags %}
      <a href="../tags/{{ tag }}.html" id="link-tags">
        {{ tag }}
      </a>
      {% endfor %}
    </small>
  </div>
    <h3>
      <a href="../posts/{{ post.name }}.html" id="link-post">
        {{ post.title }}
      </a>
    </h3>
    <small>
      {{ post.summary }}
    </small>
  </p>
{% endfor %}

{% endblock %}
